input {
  font-family: 'Andada Pro', serif;
  margin: 1rem;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  height: 30px;
  width: 4.5rem;
  padding: 0 3rem 0 3rem;
  align-self: center;
}

button {
  font-family: 'Andada Pro', serif;;
  cursor: pointer;
  /* max-width: fit-content; */
  padding-top: 5px;
  align-self: center;
  padding: .5rem;
  background-color: rgb(19, 18, 18);
  color: white;
  border: none;
	outline: none;
	border-radius: 3px;
  margin: 4px;
  
}

ul {
  display: flex;
  flex-direction: column;
  list-style: inside;
  list-style-type: none;
  margin-top: 25px;
  padding-right: 40px;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
	padding: 1rem 5rem 1rem 5rem ;
  justify-content: center;
  align-items: center;
  border: 2px solid #323232;
  border-radius: 5px;
  margin: 15%;
}

li {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 6px;
}

img {
  width:  256px;
  height: 256px;
  object-fit: cover;
  margin: 0.5rem;
  box-shadow: 0 0 16px rgb(128, 128, 128, 0.2);
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #566856;
}

a:hover {
  color: #EE6464;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

textarea {
  font-family: 'Andada Pro', serif;;
  margin: 1rem;
}

.app {
  color: #323232;
  font-family: 'Andada Pro', serif;;
}

.listings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
}

.text {
  font-size: 18px;
  text-align: center;
  margin: 0 1rem;
  line-height: 1.75;
}

.header {
  text-align: center;
  font-weight: lighter;
  font-size: 26px;
}

.divText {
  max-width: 800px;
  margin: 0 auto;
}

.navLink {
  margin: 0px 8px;
  text-decoration: none;
  color: #323232;
  font-size: 32px;
}

.navLink:hover {
  color: #EE6464;
}

.logOutBtn {
  background: none;
  margin: 0;
  border: none;
  font-size: 32px;
  color: #323232;
}

.logOutBtn:hover {
  color: #EE6464;
}

.listing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #F8FFEB;
  box-shadow: 0 0 16px rgb(128, 128, 128, 0.1);
}

.title {
  margin: 0.5rem;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: lighter;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin: 0.5rem;
  font-size: 18px;
  color: #484848;
  text-align: center;
}

.zip {
  margin: 0.5rem;
  font-size: 14px;
  color: #808080;
}

.contactBtn {
  text-decoration: none;
  color: #566856;
  font-size: 20px;
  margin: 0.5rem;
  font-style: italic;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 8px;
}

.contactBtn:hover {
  color: #EE6464;
}

.postItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
}

.image-upload {
  padding: 30px;
}

#logo {
  box-shadow: none;
  width: 196px;
  height: min-content;
  border-radius: 0px;
}