body {
  margin: 0;
  background-color: #F5FFEB;
  overflow: overlay;
  padding: 1rem;
}


.listing:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.card-container__item img {
  width: 100%;
}

/* the modal container takes up the full viewport */
.modal-container {
  position: fixed;
  /* stretch to all four edges of viewport */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* set background color to black with opacity */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}


.modal-container__child {
  /* the modal box is positioned in the center of the modal container */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* take up half of parent's width */
  width: 50%;
  background-color: white;
  padding: 1em;
}


.label {
  text-align: center;
  font-size: 1.2em;
}
